
MONGODB_URI=mongodb+srv://warissaalaar:SvhtE8lmS6f04t0u@cluster0.pazga9e.mongodb.net/sahilbot?retryWrites=true&w=majority
OPENAI_API_KEY=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
￼Enter
